/pokerBot/__pycache__/*.pyc
*.pyc
/.idea/inspectionProfiles
/src/dist
/src/pyTelegramPokerBot.egg-info
/src/build
*.iml
/*.iml
/telegramBot.iml
/.idea/*
/db.json
/dist/*
/pyTelegramPokerBot.egg-info/*
